@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LobsterTwo";
  src: url("fonts/lobster/LobsterTwo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
